{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic HubX</title>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<!-- MAIN HERO SECTION -->
<section id="main_content">

    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="header-wrap">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'website/images/Yellow_logo.png' %}" alt="Organic HubX" width="120">
                    </a>
                </div>
                <div class="hamburger" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <nav class="menu">
                    <ul class="nav-links">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'products' %}">Products</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="profile-icon" onclick="toggleSidebar()">
                        <img src="{% static 'website/images/profile.png' %}" alt="Profile">
                    </div>
                    {% endif %}

                </nav>
            </div>
        </div>
    </header>
    <article id="image-gallery">
    <!-- HERO TEXT -->
    <div id="hero-content">
        <h1>Organic HubX</h1>
        <h3>Fresh. Clean. Organic.</h3>
    </div>
    </article>
</section>
    <section id="main-container">
        <div class="child1">
            <h1>Fresh from <span>Nature.</span> Pure by <span>Choice.</span></h1><br>
            <p>At Organic HubX, we believe that healthy living begins with conscious choices. Our mission is to connect people with nature by providing high-quality organic foods that are free from harmful chemicals, preservatives, and artificial additives.<br><br>
            We work closely with local farmers and ethical suppliers who follow sustainable farming practices. Every product we offer is carefully selected to ensure freshness, nutritional value, and environmental responsibility.
            </p>
        </div>
    </section>
    <section id="image-content">
        <div class="img1"><h1>Our Products</h1>
            <h4>Fresh • Organic • Chemical-Free</h4><div>
    </section>
    <section id="shop-category">
        <h2>Shop By <span>Category</span></h2>
        <div class="container-card">
            <div class="card">
                <img src="{% static 'website/images/organic-vegetable.jpg' %}" alt="Vegetable" height="200px" width="200px">
                <h4>Organic Vegetable</h4>
            </div>
            <div class="card">
                <img src="{% static 'website/images/fruits.jpg' %}" alt="fruits" height="200px" width="200px">
                <h4>Fresh Fruits</h4>
            </div>
            <div class="card">
                <img src="{% static 'website/images/grains.jpg' %}" alt="grains" height="200px" width="200px">
                <h4>Grains & Pulses</h4>
            </div>
            <div class="card">
                <img src="{% static 'website/images/natural oils.jpg' %}" alt="oils" height="200px" width="200px">
                <h4>Natural Oils</h4>
            </div>
        </div>
    </section>
    <section id="why-us">
        <h2>Why <span>Choose</span> Us</h2>
        <div class="container-text">
            <div class="txt">
                <h3>100% Organic</h3>
                <h5>Pure, natural products grown without chemicals or GMOs.</h5>
            </div>
            <div class="txt">
                <h3>Farm Direct</h3>
                <h5>Fresh produce sourced straight from trusted local farmers.</h5>
            </div>
            <div class="txt">
                <h3>No Chemicals</h3>
                <h5>Free from harmful pesticides, preservatives, and additives.</h5>
            </div>
            <div class="txt">
                <h3>Eco Packaging</h3>
                <h5>Sustainable packaging that cares for the environment.</h5>
            </div>
        </div>
    </section>
    <section id="services">
        <h2>Our <span>Services</span></h2>
        <div class="container-img">
            <div class="image">
                <img src="{% static 'website/images/img6.png' %}" alt="Vegetable" height="330px" width="280px">
            </div>
            <div class="image">
                <img src="{% static 'website/images/img5.png' %}" alt="Vegetable" height="330px" width="280px">
            </div>
            <div class="image">
                <img src="{% static 'website/images/img3.png' %}" alt="Vegetable" height="330px" width="280px">
            </div>
            <div class="image">
                <img src="{% static 'website/images/img4.png' %}" alt="Vegetable" height="330px" width="280px">
            </div>
        </div>
    </section>
    <section id="testimonials">
        <h2>Our <span>Statisfied</span> Customer</h2>
        <div class="container-comment">
            <div class="cmt">
                <h1>⭐⭐⭐</h1>
                <h5>Organic HubX delivers fresh and high-quality products every time. I love knowing that my food is chemical-free and healthy for my family.</h5>
                <h3>-David Joes</h3>
            </div>
            <div class="cmt">
                <h1>⭐⭐⭐</h1>
                <h5>The farm-direct approach really shows in the freshness. Great service, timely delivery, and excellent quality.</h5>
                <h3>-Jimmy Singh</h3>
            </div>
            <div class="cmt">
                <h1>⭐⭐⭐⭐</h1>
                <h5>Clean packaging, natural taste, and reliable service. Organic HubX has become my go-to for organic groceries.</h5>
                <h3>-Reema Bajaj</h3>
            </div>
            <div class="cmt">
                <h1>⭐⭐⭐⭐⭐</h1>
                <h5>Organic HubX delivers fresh and high-quality products every time. I love knowing that my food is chemical-free and healthy for my family.</h5>
                <h3>-Sita Sen</h3>
            </div>
        </div>
    </section>
    <footer class="main-footer">
    <div class="footer-container">
        <div class="footer-box">
            <img src="{% static 'website/images/Yellow_logo.png' %}" class="footer-logo">
            <p>
                Organic HubX connects farmers directly with customers,
                delivering fresh, chemical-free organic produce.
            </p>
        </div>
        <div class="footer-box">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <h4>Track Order</h4>
            <ul>
                <li><a href="{% url 'track_order' %}">Track My Order</a></li>
                <li><a href="#">Delivery Status</a></li>
                <li><a href="#">Order History</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <h4>Contact Us</h4>
            <p>Ahina C.H.S </p>
            <p>Navi Mumbai-410209</p>
            <p>info@organichubx.com</p>
            <p>+91 8591906787</p>

            <div class="socials">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Organic HubX. All rights reserved.</p>
    </div>
</footer>

{% if request.user.is_authenticated %}
<div id="profileSidebar" class="sidebar">
    <div id="sidebarContent">
        {% include "website/sidebar_profile.html" %}
    </div>
</div>
{% endif %}
<script>
function toggleSidebar() {
    document.getElementById("profileSidebar").classList.toggle("active");
}
function toggleMenu() {
    document.querySelector('.menu').classList.toggle('active');
}
</script>
</body>
</html>
